<div class="user-details">
  <h1>Education, Certifications and Badges</h1>
  <div class="user">
    <div class="tech">
      <h2>Alma Mater</h2>
<img src="assets\Logo\Uwin.png" 
      width="100" 
      height="100" />
      <img src="assets\Logo\um.png" 
      width="100" 
      height="100" />
          
      <p>Masters of Applied Computing (MAC)
          2019-2020
        </p>
        <p>
          Bachelors of Engineering in Information Technology (BE-IT)
          2013-2016
        </p>
        <p>
          Diploma in Computer Technology
          2010-2013
        </p>
    </div>
    <div class="tech">
      <h2>Certifications</h2>
      <img src="assets\Logo\astro.png" 
      width="100" 
      height="100" />
      <img src="assets\Logo\databricks.png" 
      width="100" 
      height="100" />
      <p>
        Astronomer Certification for Apache Airflow Fundamentals
      </p>
      <p>
        Databricks Lakehouse Fundamentals
      </p>
    </div>

    <div class="tech">
      <h2>Badges</h2>
      <img src="assets\Logo\tableau_1.png" 
      width="100" 
      height="100" />
      <img src="assets\Logo\tableau_2.png" 
      width="100" 
      height="100" />
      <p>
        Tableau Analyst
      </p>
      <p>
        Tableau Consumer      
      </p>
    </div>
  </div>