<div class="user-details">
  <h1>Education, Certifications and Badges</h1>
  <div class="user">
    <div class="tech">
      <h2>Alma Mater</h2>
      <a href="https://www.uwindsor.ca/">
<img src="assets\Logo\Uwin.png" 
      width="150" 
      height="100" alt="University of Windsor"/> </a>
      <a href="https://msbte.org.in/">
      <img src="assets\Logo\um.png" 
      width="100" 
      height="100" alt="University of Mumbai" />
    </a>
    <a href="https://mu.ac.in/">
      <img src="assets\Logo\MSBTE.png" 
      width="100" 
      height="100" alt="MSBTE" />
    </a>
      <p>Masters of Applied Computing (MAC)
        University of Windsor, Canada
          2019-2020
        </p>
        <p>
          Bachelors of Engineering in Information Technology (BE-IT)
          University of Mumbai, India
          2013-2016
        </p>
        <p>
          Diploma in Computer Technology
          Maharashtra State Board of Technical Education
          2010-2013
        </p>
    </div>
    <div class="tech">
      <h2>Certifications</h2>
      <a href="https://www.credly.com/badges/0af918fc-cfa3-44e1-9b2e-b48d71c79100/linked_in_profile">
      <img src="assets\Logo\astro.png" 
      width="100" 
      height="100" alt="Astronomer Certification for Apache Airflow Fundamentals "/></a>
      <a href="https://credentials.databricks.com/bbaaee72-891e-4cf3-800d-dbcbf0201d6c#gs.7mwqwn">
      <img src="assets\Logo\databricks.png" 
      width="100" 
      height="100" alt="Databricks Lakehouse Fundamentals"/></a>
      <p>
        Astronomer Certification for Apache Airflow Fundamentals
      </p>
      <p>
        Databricks Lakehouse Fundamentals
      </p>
    </div>

    <div class="tech">
      <h2>Badges</h2>
      <a href="https://www.credly.com/badges/7640a816-34f0-4b5a-af11-435d13b6e81f/linked_i">
      <img src="assets\Logo\tableau_1.png" 
      width="100" 
      height="100" alt="Tableau Analyst"/></a>
      <a href="https://www.credly.com/badges/8091114d-6d85-40b3-a7ad-7c304545b306/linked_in_profile">
      <img src="assets\Logo\tableau_2.png" 
      width="100" 
      height="100" alt="Tableau Consumer"/></a>
      <p>
        Tableau Analyst
      </p>
      <p>
        Tableau Consumer      
      </p>
    </div>
  </div>