<!DOCTYPE html>
<link rel="stylesheet" href="../assets/css/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      <section id="workex">
        {% include workex.html %}
      <section id="education">
        {% include education.html %}
      <section id="projects">
        {% include projectsfreelancing.html%}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
</html>
